/*body*/

body {
  font-size: 17px;
  background-image: url(../sources/img/fondo1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*nav*/
.bs-purple {
  background-color: white;
}

.navbar-brand img {
  width: 50px;
  border-radius: 15%;
}

.nav {
  display: inline;
}

.nav-item:hover {
  background-color: #b9b9b9;
  transition-delay: 0.01s;
}

.btn {
  border-radius: 0px;
  height: 50px;
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  border: #ffffff;
}

.btn:hover {
  background-color: #000000;
  color: #ffffff;
  border: #000000;
}

.user {
  width: 30px;
}

.registro {
  font-size: 30px;
}

.logos:hover {
  background-color: #b9b9b9;
  padding: 10px;
}

/*container*/
.contact-form h1 {
  text-align: center;
}

.contact-form {
  background-color: #eaddcc;
  padding: 20px;
  border-radius: 10px;
  max-width: 45%;
  margin: 20px auto;
}

.form-group {
  margin: 10px;
}

.back-button {
  margin-bottom: 20px;
}

.submit-button {
  margin-top: 20px;
}

.admin-button {
  margin-top: 10px;
  float: right; 
}

/*footer*/

footer {
  background-color: #ffffff;
  color: #2c2c2c;
  padding: 20px;
}

.footer-contenido {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

/* Estilo opcional para enlaces dentro del footer */
footer a {
  color: #ffffff;
  text-decoration: none;
  width: 60px;
}

/* Estilo opcional para enlaces dentro del footer cuando se les pasa el mouse por encima */
footer a:hover {
  text-decoration: underline;
}

/* Media Query para pantallas móviles (por ejemplo, dispositivos con un ancho máximo de 768px) */
@media screen and (max-width: 768px) {
  .hola {
    display: inline;
  }

  .subscription-form input,
  .subscription-form select,
  .subscription-form button {
    width: 100%;
    margin: 5px 0;
  }

  .contact-form {
    background-color: #eaddcc;
    padding: 20px;
    border-radius: 10px;
    max-width: 70%;
    margin: 20px auto;
  }

  .logos img {
    width: 64px;
  }
}

/* Custom styles */

.social-media-links {
  text-align: center;
  margin-top: 10px;
}

.social-media-links a {
  margin: 0 10px;
}

.social-media-links img {
  width: 20px;
  height: 20px;
}
