/*body*/
body {
    font-size: 17px;
    background-image: url(../sources/img/fondo1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*nav*/
.bs-purple {
    background-image: linear-gradient(to right, rgb(206, 206, 206), rgb(221, 221, 221));
}

.navbar-brand img {
    width: 50px;
    border-radius: 15%;
}

.nav {
    display: inline;
}

.nav-item:hover {
    background-color: #b9b9b9;
    transition-delay: 0.01s;
}

.btn {
    border-radius: 0px;
    height: 70px;
    background-color: #ffffff;
    color: #000000;
    border: #ffffff;
}

.btn:hover {
    background-color: #000000;
    color: #ffffff;
    border: #000000;
}

.user {
    width: 30px;
}

.registro {
    font-size: 30px;
}

.logos:hover {
    background-color: #b9b9b9;
    padding: 10px;
}

/*container*/
.container h1 {
    margin-bottom: 40px;
}

.section {
    margin-top: 40px;
}

.carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-inner {
    display: flex;
    justify-content: center;
}

.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: 0 10px;
}

.card {
    width: 200px;
    border: none;
    background: none;
}

.card img {
    width: 100%;
    height: auto;
}

.card-body {
    text-align: center;
    padding: 10px 0;
}

.card-text {
    font-size: 14px;
    margin-bottom: 10px;
}

.price {
    font-size: 16px;
    font-weight: bold;
}

.carousel-control-prev, .carousel-control-next {
    width: 40px;
    height: 40px;
    background-color: #000;
    border-radius: 50%;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 100%;
    height: 100%;
}

footer {
    background-color: #ffffff;
    color: #2c2c2c;
    padding: 20px;
}

.footer-contenido {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}

/* Estilo opcional para enlaces dentro del footer */
footer a {
    color: #ffffff;
    text-decoration: none;
    width: 60px;
}

/* Estilo opcional para enlaces dentro del footer cuando se les pasa el mouse por encima */
footer a:hover {
    text-decoration: underline;
}

/* Media Query para pantallas móviles (por ejemplo, dispositivos con un ancho máximo de 768px) */
@media screen and (max-width: 768px) {
    .hola {
        display: inline;
    }

    .subscription-form input,
    .subscription-form select,
    .subscription-form button {
        width: 100%;
        margin: 5px 0;
    }
}

.social-media-links {
    text-align: center;
    margin-top: 10px;
}

.social-media-links a {
    margin: 0 10px;
}

.social-media-links img {
    width: 20px;
    height: 20px;
}
